# ─── DynamoDB Local ───────────────────────────────────────────────────────────
DYNAMODB_ENDPOINT=http://localhost:8000
AWS_ACCESS_KEY_ID=local
AWS_SECRET_ACCESS_KEY=local
AWS_REGION=us-east-1

# ─── MinIO (simulación S3) ───────────────────────────────────────────────────
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=products

# ─── JWT ─────────────────────────────────────────────────────────────────────
JWT_SECRET=cambia_esta_clave_secreta_en_produccion
JWT_EXPIRES_IN=24h

# ─── Email (Nodemailer) ───────────────────────────────────────────────────────
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=tu_correo@gmail.com
EMAIL_PASS=tu_contrasena_de_aplicacion

# ─── Logger ──────────────────────────────────────────────────────────────────
LOG_LEVEL=info
